{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<!-- Link to respective CSS stylesheet -->
<link rel="stylesheet" href="{{url_for('static', filename='css/changes.css')}}">

{% endblock %}

{% block body %}
<div style="margin-top:200px" class="page-header container col-lg-4 col-md-6 col-sm-12 change-email">
    <h2 class="change_form_heading">Change Your Email Address</h2>
    <form class="form form-horizontal change-email-form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.email, class="") }}
        {{ wtf.form_field(form.password, class="") }}
        {{ wtf.form_field(form.submit, class="btn btn-success change-email-btn") }}
      </form>
</div>
<div class="cir1"></div>
<div class="cir2"></div>
<div class="cir3"></div>
<div class="cir4"></div>
<div class="cir5"></div>
<div class="cir6"></div>
<div class="cir7"></div>
<div class="cir8"></div>
<div class="cir9"></div>
{% endblock %}
